{{ if and (isset .Params "toc") .Params.toc  }}
  <details>
    <summary>Spis treści</summary>
    {{ .TableOfContents }}
  </details>
  <script>
    const toc = document.getElementById("TableOfContents");
    const h1 = toc.getElementsByTagName("ul")[0];
    const h2 = h1.getElementsByTagName("li")[0].getElementsByTagName("ul")[0];
    toc.appendChild(h2);
    toc.removeChild(h1);
    
    const el = document.querySelector('details summary')
    el.onclick = () => {
      (function(l,o,a,d,e,r){e=o.createElement(a),r=o.getElementsByTagName(a)[0];e.async=1;e.src=d;r.parentNode.insertBefore(e,r)})(window,document,'script','/js/smoothscroll.js');
      el.onclick = null
    }
    document.querySelectorAll('#TableOfContents a').forEach(link => {
      link.addEventListener('click', () => {
        document.querySelector(
          link.href.slice(link.href.indexOf('#'))
        ).scrollIntoView({ behavior: 'smooth' })
      })
    })
  </script>
{{ end }}
